		<footer class="mt-md">
			Ce site fait moins de 10 Ko | <a href="mentions-legales">mentions-legales</a>
		</footer>
		<% if (showcookies == true) { %>
		<aside id="info-ck">
			Ce site utilise les cookies de votre navigateur. Il est affamé !<br/><button id="btn-ck" class="mt-sm">Fermer</button>
		</aside>
		<% } %>
		<script type='text/javascript' src='./prod/js/script.min.js'></script>
	</body>
</html>