<% include ../partials/header %>
	<h1>Mentions légales</h1>
	<div class="ml">
		<h2>Hébergement</h2>
		<p>
			<span class="black">OVH</span><br>
			2 rue Kellermann – 59100 Roubaix – France.<br>
			Tél. : 1007
		</p>

		<p>
			<span class="black">Contact</span><br>
			salut@jepeuxquandmemepaslappeler.fr
		</p>

		<h2>Crédits</h2>
		<p>
			<span class="black">Design et développement :</span><br>
			Emilien Schneider<br>
			Romain Petiot<br>
			Pablo Barral<br>
	 	</p>

		<h2>Objectif et qualité des contenus</h2>
		<p>
			Futurs parents, ce site a pour objectif de vous aider à choisir le prénom, le moins ridicule pour votre enfant. En effet personne au cours de sa vie, n’est à l’abri d’une blague douteuse, d’une moquerie de (très) mauvais goût ou d’un jeu de mots ultra vulgaire en rapport avec son prénom.
		</p>
		<p>
			En plus du caractère informatif et bienveillant, ce site vous donne la possibilité d’ajouter les prénoms qui vous semble les moins laids, à votre liste de prénoms.
		</p>

		<p>
			Les commentaires et préjugés associés à chaque prénom et recueillis auprès de personnes souhaitant garder l’anonymat, ne peuvent en aucun cas engager notre responsabilité. On est tous le prénom minable de quelqu’un.
		</p>
		<p>
			Toutefois si un préjugé vous semble inexacte ou contient une erreur typographique, vous pouvez nous le signaler.
		</p>
		<p>
			Informations complémentaire ; le principe de ce site fonctionne aussi pour vos animaux de compagnie.
		</p>

		<p>
			<span class="black">Réutilisation des contenus</span><br>
			Le site jepeuxquandmemepaslappeler.fr est mis à disposition selon les termes de la licence<br>
			<a href="https://creativecommons.org/licenses/by-nc-nd/3.0/fr/" target="blank">Creative Commons Attribution (BY)</a> :<br>
			Le titulaire des droits autorise toute exploitation de l’œuvre, y compris à des fins commerciales, ainsi que la création d’œuvres dérivées, dont la distribution est également autorisé sans restriction, à condition de l’attribuer à son l’auteur en citant son nom. Cette licence est recommandée pour la diffusion et l’utilisation maximale des œuvres.
		</p>
	</div>
<% include ../partials/footer %>